<footer>
  <p><i class="fa fa-bolt"></i> Made with <%= noun %> and <%= noun %> at <%= link_to "@flatironschool", "http://flatironschool.com/" %> by <%= link_to "@Sush", "https://github.com/bhaskaraspb" %> and <%= link_to "@George", 'https://github.com/georgemayer' %></p>
</footer>