<div class="tree-wrapper">
<h2> What is Looseleaf? </h2>

<p>
Looseleaf is an app to help you write stories collaboratively with friends and visualize them. Simply start a story, share it with a few friends, and watch your story grow.

As your friends continue to invite their friends, you will see the story branch and grow in countless, unique ways.
</p>
<p> More generally, Looseleaf can  be used to create and visualize any type of content which can be built iteratively by a group of people. Some ideas we have heard including writing recipies, creating a how-to guide. </p>

<h2> How to use Looseleaf </h2>

<p>
If you're invited to contribute to a story, just click on the link that was emailed to you, and you will be asked to add on to the story that your friend has passed to you.

Once you add to the story, sign up for an account, in order to ask others to contribute onto your branch.
</p>
<p> You can also start your own story from scratch by signing up for an account, and clicking on 'Create a Tree'.

At any point, click on 'View Trees', to see all of your trees and all of the contributions that have been made on your tree. </p>

<h2> How Looseleaf was Built </h2>

Looseleaf is a Ruby on Rails app that uses D3.js for interactive visualizations. More technical details can be found on our Github.

<h2> Built by </h2>

<div class="headshot-container">

  <div class="person"><div class="headshot"><%= image_tag("george_headshot.png") %>
  </div>
  <h3> George Mayer </h3>
  <p> <%= link_to("<i class='fa fa-github-alt'></i>".html_safe,"http://github.com/georgemayer", target: :blank) %> 
    <%= link_to("<i class='fa fa-twitter'></i>".html_safe,"http://twitter.com/georgemayer", target: :blank) %> 
    <%= link_to("<i class='fa fa-linkedin'></i>".html_safe,"http://linkedin.com/in/georgemayer", target: :blank) %> 
  </p>
  </div>
  <div class="person"><div class="headshot"><%= image_tag("SPB_headshot.jpg") %>
  </div>
  <h3> Sushanth Bhaskarabhatla </h3>
  <p> <%= link_to("<i class='fa fa-github-alt'></i>".html_safe,"http://github.com/bhaskaraspb", target: :blank) %> 
    <%= link_to("<i class='fa fa-twitter'></i>".html_safe,"http://twitter.com/bhaskaraspb", target: :blank) %> 
    <%= link_to("<i class='fa fa-linkedin'></i>".html_safe,"http://linkedin.com/in/bhaskaraspb", target: :blank) %> 
  </p>
  </div>

</div>
</div>

